<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bysj</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>register.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>encodeFilter</filter-name>
    <filter-class>com.cdutcm.web.filter.GenericEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.cdutcm.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUsername</display-name>
    <servlet-name>CheckUsername</servlet-name>
    <servlet-class>com.cdutcm.web.servlet.CheckUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUsername</servlet-name>
    <url-pattern>/checkUsername</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.cdutcm.web.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActiveServlet</display-name>
    <servlet-name>ActiveServlet</servlet-name>
    <servlet-class>com.cdutcm.web.servlet.ActiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiveServlet</servlet-name>
    <url-pattern>/active</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CodeServlet</display-name>
    <servlet-name>CodeServlet</servlet-name>
    <servlet-class>com.cdutcm.web.servlet.CodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodeServlet</servlet-name>
    <url-pattern>/getCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserinfoServlet</display-name>
    <servlet-name>UserinfoServlet</servlet-name>
    <servlet-class>com.cdutcm.web.servlet.UserinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserinfoServlet</servlet-name>
    <url-pattern>/userInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddInfoServlet</display-name>
    <servlet-name>AddInfoServlet</servlet-name>
    <servlet-class>com.cdutcm.web.servlet.AddInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInfoServlet</servlet-name>
    <url-pattern>/addInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteInfoServlet</display-name>
    <servlet-name>DeleteInfoServlet</servlet-name>
    <servlet-class>com.cdutcm.web.servlet.DeleteInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteInfoServlet</servlet-name>
    <url-pattern>/deleteInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFamilyServlet</display-name>
    <servlet-name>AddFamilyServlet</servlet-name>
    <servlet-class>com.cdutcm.web.servlet.AddFamilyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFamilyServlet</servlet-name>
    <url-pattern>/addfamily</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectFamilyServlet</display-name>
    <servlet-name>SelectFamilyServlet</servlet-name>
    <servlet-class>com.cdutcm.web.servlet.SelectFamilyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectFamilyServlet</servlet-name>
    <url-pattern>/selectfamily</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFamilyServlet</display-name>
    <servlet-name>DeleteFamilyServlet</servlet-name>
    <servlet-class>com.cdutcm.web.servlet.DeleteFamilyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFamilyServlet</servlet-name>
    <url-pattern>/deletefamily</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectFamilyIdServlet</display-name>
    <servlet-name>SelectFamilyIdServlet</servlet-name>
    <servlet-class>com.cdutcm.web.servlet.SelectFamilyIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectFamilyIdServlet</servlet-name>
    <url-pattern>/selectfamilyid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDemo</display-name>
    <servlet-name>ServletDemo</servlet-name>
    <servlet-class>com.cdutcm.web.servlet.ServletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo</servlet-name>
    <url-pattern>/ServletDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFamilyServlet</display-name>
    <servlet-name>UpdateFamilyServlet</servlet-name>
    <servlet-class>com.cdutcm.web.servlet.UpdateFamilyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFamilyServlet</servlet-name>
    <url-pattern>/updatefamily</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JCStartServlet</display-name>
    <servlet-name>JCStartServlet</servlet-name>
    <servlet-class>com.cdutcm.web.servlet.JCStartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JCStartServlet</servlet-name>
    <url-pattern>/jcstart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JCStopServlet</display-name>
    <servlet-name>JCStopServlet</servlet-name>
    <servlet-class>com.cdutcm.web.servlet.JCStopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JCStopServlet</servlet-name>
    <url-pattern>/jcstop</url-pattern>
  </servlet-mapping>
</web-app>